# no .a files
*.a
*.o
*.lo
*.lib
*.log
*.orig
# Windows/VS stuff
*.obj
*.tlog
*.pdb

# ignore all files in directories
Angel-3.2/Code/Build/
Angel-3.2/Code/ClientGame/
Angel-3.2/Code/IntroGame/
Angel-3.2/Code/GameJam*/
Angel-3.2/Code/GameJam.sln
Angel-3.2/.gitignore
Angel-3.2/.hgignore
Angel-3.2/Code/build-*/
#other not needed
*.suo
*.ncb
*.user
*.xcodeproj/*.mode1v*
*.xcodeproj/*.pbxuser
*.xcodeproj/TemplateIcon.icns
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcworkspace/xcuserdata/*.xcuserdatad
*.xcworkspace/xcuserdata/*.xcuserdatad

# specific files from Angel build to ignore.
Angel-3.2/Code/Angel/Libraries/Box2D-2.2.1/Build/Box2D/
Angel-3.2/Code/Angel/Libraries/Box2D-2.2.1/Build/CMakeCache.txt
Angel-3.2/Code/Angel/Libraries/Box2D-2.2.1/Build/CMakeFiles/
Angel-3.2/Code/Angel/Libraries/Box2D-2.2.1/Build/HelloWorld/
Angel-3.2/Code/Angel/Libraries/Box2D-2.2.1/Build/Makefile
Angel-3.2/Code/Angel/Libraries/Box2D-2.2.1/Build/Testbed/
Angel-3.2/Code/Angel/Libraries/Box2D-2.2.1/Build/cmake_install.cmake
Angel-3.2/Code/Angel/Libraries/Box2D-2.2.1/Build/freeglut/
Angel-3.2/Code/Angel/Libraries/Box2D-2.2.1/Build/glui/
Angel-3.2/Code/Angel/Libraries/FTGL/unix/Make.conf
Angel-3.2/Code/Angel/Libraries/FTGL/unix/config.status
Angel-3.2/Code/Angel/Libraries/FTGL/unix/docs/doc-stamp
Angel-3.2/Code/Angel/Libraries/FTGL/unix/ftgl.pc
Angel-3.2/Code/Angel/Libraries/FTGL/unix/libtool
Angel-3.2/Code/Angel/Libraries/FTGL/unix/src/.libs/
Angel-3.2/Code/Angel/Libraries/FTGL/unix/src/libftgl.la
Angel-3.2/Code/Angel/Libraries/angel-lua-build/lua
Angel-3.2/Code/Angel/Libraries/gwen/Projects/linux/gmake/obj/
Angel-3.2/Code/Angel/Scripting/Interfaces/AngelLuaWrapping.cpp
Angel-3.2/Code/Angel/Scripting/Interfaces/inheritance.i
Angel-3.2/Code/Tools/BuildScripts/build_cache/swigout.txt

Angel-3.2/Build/